################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/clinic.api/appsettings.json
/clinic.data/appsettings.json
