@using clinic.CrossCutting.Dto
@model TimeSlotViewModel

@{
    ViewData["Title"] = "Delete";
}

<br />

<h4>Tem certeza que deseja excluir este horário?</h4>
<div>
    <h4>Horário</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Hora inicial
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt class = "col-sm-2">
            Hora final
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.End)
        </dd>
        <dt class = "col-sm-2">
            Está agendado?
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBooked)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
    </form>
</div>
