@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column align-items-center" style="height:50vh">
    <h1 class="display-4 mb-4 mt-5">Booking</h1>
    <div class="d-flex justify-content-center mt-5">
        <a class="btn btn-primary" style="min-width:300px" asp-controller="AppointmentRequests" asp-action="Create">Make an appointment</a>
    </div>
</div>